[submodule "fullstack-agent"]
	path = fullstack-agent
	url = https://github.com/jaredrhod/fullstack-agent
[submodule "ai-memory-vault"]
	path = ai-memory-vault
	url = https://github.com/jaredrhod/ai-memory-vault
[submodule "backtalk"]
	path = backtalk
	url = https://github.com/promodh031/backtalk.git
	branch = wake-phrase
[submodule "ai-visualizer"]
	path = ai-visualizer
	url = https://github.com/promodh031/ai-visualizer.git
	branch = jarvis-local
[submodule "barehands"]
	path = barehands
	url = https://github.com/jaredrhod/barehands
